<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>header</param-name>
        <param-value>WELCOME TO ERUDITIO ACADEMY</param-value>
    </context-param>
    <context-param>
        <param-name>footer</param-name>
        <param-value>2021 | ERUDITIO ACADEMY</param-value>
    </context-param>
    <listener>
        <listener-class>eruditio.models.WebAppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <jsp-file>Login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoggingOutServlet</servlet-name>
        <servlet-class>eruditio.controllers.LoggingOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfo</servlet-name>
        <servlet-class>eruditio.controllers.ChangeInfo</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>EruditioDatabase</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PDFServlet</servlet-name>
        <servlet-class>eruditio.controllers.PDFServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>EruditioDatabase</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginToEruditio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisteringServlet</servlet-name>
        <servlet-class>eruditio.controllers.RegisteringServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>EruditioDatabase</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisteringServlet</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmRegistrationServlet</servlet-name>
        <jsp-file>ConfirmRegistration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmRegistrationServlet</servlet-name>
        <url-pattern>/Confirmation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmingServlet</servlet-name>
        <servlet-class>eruditio.controllers.ConfirmingServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>EruditioDatabase</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmingServlet</servlet-name>
        <url-pattern>/loggedIn/Success</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <jsp-file>Home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/EruditioHome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <jsp-file>Register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterToEruditio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CaptchaGenerator</servlet-name>
        <servlet-class>eruditio.controllers.CaptchaGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaGenerator</servlet-name>
        <url-pattern>/Captcha</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoggingInServlet</servlet-name>
        <servlet-class>eruditio.controllers.LoggingInServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>EruditioDatabase</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoggingInServlet</servlet-name>
        <url-pattern>/LoggingIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoggingOutServlet</servlet-name>
        <url-pattern>/loggedIn/SeeYouAgain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>eruditio.controllers.ChangePasswordServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>EruditioDatabase</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/loggedIn/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <jsp-file>loggedIn/Dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/loggedIn/MyDashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Courses</servlet-name>
        <jsp-file>loggedIn/Courses.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Courses</servlet-name>
        <url-pattern>/loggedIn/MyCourses</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>loggedIn/Profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/loggedIn/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <jsp-file>loggedIn/Schedule.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/loggedIn/MySchedule</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Resources</servlet-name>
        <jsp-file>loggedIn/Resources.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resources</servlet-name>
        <url-pattern>/loggedIn/MyResources</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <jsp-file>loggedIn/ChangePassword.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/loggedIn/ChangeMyPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInfo</servlet-name>
        <url-pattern>/loggedIn/UpdateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFServlet</servlet-name>
        <url-pattern>/loggedIn/EruditioDownloadables</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorSession.jsp</location>
    </error-page>
</web-app>
